<p>filter works!</p>
<input #Name type="text" placeholder="Imię" (input)="searchName(Name.value)" />
<input
  #LastName
  type="text"
  placeholder="Nazwisko"
  (input)="searchLastName(LastName.value)"
/>
<input
  #Email
  type="text"
  placeholder="Email"
  (input)="searchEmail(Email.value)"
/>
<input #Age type="number" placeholder="Wiek" (input)="searchAge(Age.value)" />
<input
  #Adres
  type="text"
  placeholder="Adres"
  (input)="searchAdres(Adres.value)"
/>
<input
  #DatOfBirth
  type="text"
  placeholder="Data urodzenia"
  (input)="searchDateOfBirth(DatOfBirth.value)"
/>
<input
  #Hobbies
  type="text"
  placeholder="Zainteresowania"
  (input)="searchName(Hobbies.value)"
/>

<button>Wyczyść filtry</button>
